/* b612-mono-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "B612 Mono";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/b612-mono-v14-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* b612-mono-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "B612 Mono";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/b612-mono-v14-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
  font-family: "B612 Mono";
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.input {
  width: 250px;
  padding: 10px;
  font-size: 18px;
  border: 2px solid #007bff;
  border-radius: 8px;
  outline: none;
  margin-bottom: 10px;
}

.button {
  padding: 10px 15px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  margin: 5px;
}

.button:hover {
  background-color: #0056b3;
}

.list-container {
  margin-top: 20px;
  width: 300px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 15px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.list-item {
  font-size: 18px;
  color: #333;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-item:last-child {
  border-bottom: none;
}

.delete-button {
  background-color: #ff4c4c;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.delete-button:hover {
  background-color: #cc0000;
}
